<div class="main">
    <h2>Add new car</h2>
    <div class="body">
        <form #formId="ngForm" (ngSubmit)="submitForm(formId)">
            <div class="form-field grid-col-span-2">
                <label for="car-brand">Brand</label>
                <input type="text" id="car-brand" name="car-brand" ngModel/>
            </div>

            <div class="form-field grid-col-span-2">
                <label for="car-model">Model</label>
                <input type="text" id="car-model" name="car-model" ngModel/>
            </div>


            <div class="form-field grid-col-span-2">
                <label for="cubic-cap">Cubic Cap</label>
                <input type="number" id="cubic-cap" name="number" ngModel/>
            </div>

            <div class="form-field grid-col-span-2">
                <label for="serial-num">Serial Num</label>
                <input type="text" id="serial-num" name="serial-num" ngModel/>
            </div>

            <div class="form-field grid-col-span-2">
                <label for="car-type">Type</label>
                <input type="select" id="car-type" name="car-type" ngModel/>
            </div>

            <div class="form-field grid-col-span-2">
                <label for="plates">Plates</label>
                <input type="text" id="car-plates" name="plates" ngModel/>
            </div>

            <div class="form-field grid-col-span-2">
                <label for="car-power">Power</label>
                <input type="text" id="car-power" name="car-power" ngModel />
            </div>

            <div class="form-field">
            <fieldset>
                
                <legend>Select fuel type:</legend>
                <div>
                    <input type="radio" id="solid-fuel" name="fuel-type" value="Solid fuel" ngModel>
                    <label for="solid-fuel">Solid fuel</label>
                </div>

                <div>
                    <input type="radio" id="liquid-fuel" name="fuel-type" value="Liquid fuel" ngModel>
                    <label for="liquid-fuel">Liquid fuel</label>
                </div>

                <div>
                    <input type="radio" id="gaseous-fuel" name="fuel-type" value="Gaseous fuel" ngModel>
                    <label for="gaseous-fuel">Gaseous fuel</label>
                </div>
            </fieldset>
        </div>

            <div class="form-field" id="owner-id-select">
                <label for="owner-id">Owner ID</label>
                <select id="owner-id" name="owner-id" ngModel></select>
            </div>
            

            <div class="action-buttons">
                <button id="submit-button" type="submit">Add car</button>
            </div>
        </form>
    </div>
</div>