:root {
    --main-bg-color: #cdcdf1;
    --form-bg-color: #ddd;
    --main-border-color: #ccc;
    --main-text-color: #fff;
    --btn-color: #cdcdf1;
    --app-black: black;
}

body {
    display:block;
    margin: 0px;
}

