:root {
    --main-bg-color: #cdcdf1;
    --form-bg-color: #ddd;
    --main-border-color: #ccc;
    --main-text-color: #fff;
    --btn-color: #cdcdf1;
    --app-black: black;
}

body {
    background-image: url("../src/assets/imgs/bg-image.webp");
    display:block;
    margin: 0px;
}

