<div class="header">
    <img class="logo" src="assets\imgs\demo-logo-black.png" alt="Logo image" />
    <nav id="navigation">
        <ul>
            <li><a [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
            <li><a [routerLink]="['/owners']" routerLinkActive="active">Owners</a></li>
            <li><a [routerLink]="['/cars']" routerLinkActive="active">Cars</a></li>
            <li><a [routerLink]="['/insurance']" routerLinkActive="active">Insurance</a></li>
        </ul>
    </nav>
</div>