<!-- {{ownersReceivedFromWrapper.length}}

<div *ngIf="ownersReceivedFromWrapper.length > 0">
    <p>Owner list length: {{ownersReceivedFromWrapper}} </p>
</div>

<ng-container *ngFor="let owner of ownersReceivedFromWrapper">
    {{owner.firstName}} {{owner.lastName}}

</ng-container>

<div [ngSwitch]="gender">
    <p *ngSwitchCase="GenderSelect.Masculin"> {{GenderSelect.Masculin}}</p>
    <p *ngSwitchCase="GenderSelect.Feminin"> {{GenderSelect.Feminin}}</p>
    <p *ngSwitchCaseDefault>Default</p>

</div> -->

<div class="list-body">
    <h2> Table </h2>
    <!-- *ngIf="ownersReceivedFromWrapper.length > 0; else emptyResults" -->
<table >
    <tr>
        <th>
            Index
        </th>
        <!-- <th>
            First Name
        </th>
        <th>
            Last Name
        </th> -->
        <th>
            First Name - Last Name
        </th>
        <th>
            CNP
        </th>
        <th>
            Birth Date
        </th>
        <th>
            Gender
        </th>
        <th>
            Edit Row
        </th>
    </tr>
    <ng-container *ngFor="let owner of ownersReceivedFromWrapper; let i=index">
        <tr appTableRowColor [indexNumber]="i" >
            <td>
                {{i}}
            </td>
            <!-- <td>
                {{owner.firstName | uppercase}}
            </td>
            <td>
                {{owner.lastName | uppercase}}
            </td> -->
            <td>
                {{owner | myFirstPipe | uppercase}}
            </td>
            <td>
                {{owner | phone}}
            </td>
            <td>
                {{owner.birthDate}}
            </td>
            <td>
                {{owner.gender}}
            </td>
            <td>
                <button class="editButton" (click)="onEditClick(owner)" >Edit</button>
            </td>
        </tr>
    </ng-container>
</table>

<ng-template #emptyResults> <p>Empty table</p></ng-template>
</div>